# Database URL
POSTGRES_URL=postgresql://***

# App Base URL
BASE_URL=http://localhost:3000
AUTH_SECRET=***

# Paddle Public Keys (Frontend)
NEXT_PUBLIC_PADDLE_CLIENT_TOKEN=***
NEXT_PUBLIC_PADDLE_ENV=sandbox
NEXT_PUBLIC_PADDLE_PRICE_MONTHLY=pri_***
NEXT_PUBLIC_PADDLE_PRICE_ANNUAL=pri_***

# Paddle Secret Keys (Backend)
PADDLE_API_KEY=***
PADDLE_NOTIFICATION_WEBHOOK_SECRET=***

# Backend Railway Connection
BACKEND_URL=http://localhost:4000
NEXT_PUBLIC_API_URL=http://localhost:4000
BACKEND_SECRET=shared-secret